<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- Register CloudStructures Config -->
    <section name="cloudStructures" type="CloudStructures.Redis.CloudStructuresConfigurationSection, CloudStructures" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <!-- CloudStructures Section -->
  <cloudStructures>
    <redis>
      <group name="Demo">
        <add host="127.0.0.1" db="0" commandTracer="Glimpse.CloudStructures.Redis.RedisProfiler, Glimpse.CloudStructures.Redis" />
      </group>
    </redis>
  </cloudStructures>
  
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <tabs>
      <ignoredTypes>
        <!--
        <add type="Glimpse.AspNet.Tab.Routes, Glimpse.AspNet" />
        <add type="Glimpse.AspNet.Tab.Request, Glimpse.AspNet" />
        <add type="Glimpse.Mvc.Tab.Execution, Glimpse.Mvc4" />
        <add type="Glimpse.Mvc.Tab.Views, Glimpse.Mvc4" />
        -->
        <add type="Glimpse.Mvc.Tab.ModelBinding, Glimpse.Mvc4" />
        <add type="Glimpse.Mvc.Tab.Metadata, Glimpse.Mvc4" />
        <add type="Glimpse.Core.Tab.Trace, Glimpse.Core" />
        <add type="Glimpse.AspNet.Tab.Session, Glimpse.AspNet" />
        <add type="Glimpse.AspNet.Tab.Environment, Glimpse.AspNet" />
        <add type="Glimpse.AspNet.Tab.Configuration, Glimpse.AspNet" />
      </ignoredTypes>
    </tabs>
    <inspectors>
      <ignoredTypes>
        <add type="Glimpse.Mvc.Inspector.ViewEngineInspector, Glimpse.Mvc4" />
        <add type="Glimpse.Mvc.Inspector.ExecutionInspector, Glimpse.Mvc4" />
        <add type="Glimpse.AspNet.Inspector.RoutesInspector, Glimpse.AspNet" />
        
        <add type="Glimpse.Mvc.Inspector.ModelBinderInspector, Glimpse.Mvc4" />
        <add type="Glimpse.Mvc.Inspector.DependencyInjectionInspector, Glimpse.Mvc4" />
        <add type="Glimpse.Core.Inspector.TraceInspector, Glimpse.Core" />
      </ignoredTypes>
    </inspectors>
      <runtimePolicies>
        <ignoredTypes>
          <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
        </ignoredTypes>
      </runtimePolicies>
  </glimpse>
</configuration>
